# Python artifacts
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# Environment files
*.env

# Streamlit cache
.streamlit/

# Ignore dataset/model if not needed in version control
*.csv
*.pkl